.header {
    display: flex;
    justify-content: space-between;
    max-height: 102px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid transparentize($light-gray, .7);
    &.--blur {
        background-color: rgba(41, 52, 67, .24);
        border-bottom: 1px solid transparentize(#fff, .7);
        .header__right-part {
            border-left: 1px solid transparentize(#fff, .7);
        }
    }
    @include tablet {
        max-height: 72px;
    }
    @include mobile {
        max-height: 52px;
    }
    &__right {
        display: flex;
        flex: 0 0 60%;
        justify-content: flex-end;
        align-items: center;
        &-part {
            padding: 0 30px;
            border-left: 1px solid transparentize($light-gray, .7);
            display: flex;
            flex: 0 0 auto;
            height: 100%;
            align-items: center;
            svg {
                color: $dark;
            }
            a {
                margin-right: 25px;
                svg {
                    transition: ease-in-out .3s;
                }
                &:hover {
                    svg {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    svg {
        max-width: 24px;
        max-height: 24px;
    }
    &__tel {
        text-decoration: none;
        color: $dark;
        font-weight: 700;
        font-size: 16px;
        margin-right: 0;
        transition: ease-in-out .3s;
        &:hover {
            color: $primary-color;
        }
    }
    &__logo {
        &-link {
            display: contents;
        }
        @include tablet {
            max-width: 125px;
        }
        @include mobile {
            max-width: 97px;
        }
    }
    &.--blur &__tel {
        color: #fff;
    }
    &.--blur svg {
        color: #fff;
    }
}
.menu-btn {
    background: none;
    border: none;
    outline: none;
}